<html>

<body>
    <form method="post" action="/car/create/post">
        Model: <input type="text" name="model" /> <br>
        Acceleration rate: <input type="number" name="acceleration_rate" /> <br>
        Fuel consumption rate: <input type="number" name="fuel_consumption_rate" /> <br>
        Deceleration rate: <input type="number" name="deceleration_rate" /> <br>
        Steer rate: <input type="number" name="steer_rate" /> <br>
        Maximum speed: <input type="number" name="max_speed" /> <br>
        Maximum fuel: <input type="number" name="max_fuel" /> <br>
        <br>
        <input type="submit" />
    </form>
</body>

</html>