<html>

<body>
    <form method="post" action="/car/create/post">
        Model: <input type="text" name="_MODEL" /> <br>
        Acceleration rate: <input type="number" name="_ACCELERATION_RATE" /> <br>
        Fuel consumption rate: <input type="number" name="_FUEL_CONSUMPTION_RATE" /> <br>
        Deceleration rate: <input type="number" name="_DECELERATION_RATE" /> <br>
        Steer rate: <input type="number" name="_STEER_RATE" /> <br>
        Maximum speed: <input type="number" name="_MAX_SPEED" /> <br>
        Maximum fuel: <input type="number" name="_MAX_FUEL" /> <br>
        <br>
        <input type="submit" />
    </form>
</body>

</html>