{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Race Game</title>
    <style>
        #game {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        #toolbox {
            display: grid;
            grid-template-columns: {{ cellSize }}px {{ cellSize }}px;
            grid-template-rows: {{ cellSize }}px {{ cellSize }}px;
            cursor: grab;
        }

        #view {
            border: 1px solid black;
            background-color: {{ backgroundColor }};
        }

        img.cell {
            width: {{ cellSize }}px;
            height: {{ cellSize }}px;
        }
    </style>
</head>

<body>
    <div id="game">
        <div id="toolbox">
            <div id="booster" draggable="true">
                <img src="{% static 'images/booster.png' %}" class="cell">
            </div>
            <div id="car" draggable="true">
                <img src="{% static 'images/car.png' %}" class="cell">
            </div>
            <div id="fuel" draggable="true">
                <img src="{% static 'images/fuel.png' %}" class="cell">
            </div>
            <div id="rock" draggable="true">
                <img src="{% static 'images/rock.png' %}" class="cell">
            </div>
            <div id="straight-0" draggable="true">
                <img src="{% static 'images/straight-0.png' %}" class="cell">
            </div>
            <div id="straight-1" draggable="true">
                <img src="{% static 'images/straight-1.png' %}" class="cell">
            </div>
            <div id="diagonal-0" draggable="true">
                <img src="{% static 'images/diagonal-0.png' %}" class="cell">
            </div>
            <div id="diagonal-1" draggable="true">
                <img src="{% static 'images/diagonal-1.png' %}" class="cell">
            </div>
            <div id="turn90-0" draggable="true">
                <img src="{% static 'images/turn90-0.png' %}" class="cell">
            </div>
            <div id="turn90-1" draggable="true">
                <img src="{% static 'images/turn90-1.png' %}" class="cell">
            </div>
            <div id="turn90-3" draggable="true">
                <img src="{% static 'images/turn90-3.png' %}" class="cell">
            </div>
            <div id="turn90-2" draggable="true">
                <img src="{% static 'images/turn90-2.png' %}" class="cell">
            </div>
        </div>
        <div id="view"></div>
    </div>

    <script src="https://unpkg.com/konva@9/konva.min.js"></script>
    <script>
        const currViewId = {{ id }};
        const currViewIsMap = true;

        const canvas = {{ canvas | safe }};
        const rowCount = canvas.length;
        const columnCount = canvas[0].length;
        const backgroundColor = "{{ backgroundColor }}";
        const cellSize = {{ cellSize }};

        const width = columnCount * cellSize;
        const height = rowCount * cellSize;

        const stage = new Konva.Stage({
            container: "view",
            width: width,
            height: height,
        });

        const gridLayer = new Konva.Layer();
        for (var column = 0; column < columnCount; column++) {
            gridLayer.add(new Konva.Line({
                points: [Math.round(column * cellSize) + 0.5, 0, Math.round(column * cellSize) + 0.5, height],
                stroke: '#ddd',
                strokeWidth: 1,
            }));
        }
        gridLayer.add(new Konva.Line({ points: [0, 0, 10, 10] }));
        for (var row = 0; row < rowCount; row++) {
            gridLayer.add(new Konva.Line({
                points: [0, Math.round(row * cellSize), width, Math.round(row * cellSize)],
                stroke: '#ddd',
                strokeWidth: 1,
            }));
        }
        stage.add(gridLayer);

        const tileLayer = new Konva.Layer();
        const shadow = new Konva.Rect({
            width: cellSize,
            height: cellSize,
            fill: '#808080',
            opacity: 0.5,
            stroke: '#404040',
            strokeWidth: 3
        });
        shadow.hide();
        tileLayer.add(shadow);
        stage.add(tileLayer);

        const playerLayer = new Konva.Layer();
        stage.add(playerLayer);

        

        const websocket = new WebSocket("ws://localhost:12345/");
        websocket.onmessage = ({ data }) => {
            const answer = JSON.parse(data);
            console.log(answer);
            const commandInfo = answer["command"];
            const parameters = commandInfo["parameters"][commandInfo["parameters"].length - 1];
            switch ((commandInfo["type"], commandInfo["function_name"])) {
                case ("map", "create_component"):
                    const type = parameters["component_type_name"];
                    // Note that Y and X are reversed on the server side!
                    const y = parameters["x"];
                    const x = parameters["y"];
                    const componentId = answer;
                    addComponent(type, x, y, componentId);
                    break
            }
        };

        function newComponent(type, x, y) {
            const isCell = type != "car";
            if (isCell) {
                x = Math.round(x / cellSize) * cellSize;
                y = Math.round(y / cellSize) * cellSize;
            }

            websocket.send(JSON.stringify({
                "type": currViewIsMap ? "map" : "view",
                "id": currViewId,
                "function_name": "create_component",
                "parameters": [{
                    "component_type_name": type,
                    // Note that Y and X are reversed on the server side!
                    "y": x,
                    "x": y
                }]
            }));
        }

        function addComponent(type, x, y, component_id) {
            const isCell = type != "car";
            if (isCell) {
                x = Math.round(x / cellSize) * cellSize;
                y = Math.round(y / cellSize) * cellSize;
            }

            const image = new Image();
            image.onload = function () {
                const component = new Konva.Image({
                    x: x,
                    y: y,
                    image: image,
                    width: cellSize,
                    height: cellSize,
                    draggable: true,
                });
                component.type = type;
                component.id = component_id;

                if (isCell) {
                    component.on('dragstart', (e) => {
                        shadow.show();
                        shadow.moveToTop();
                        component.moveToTop();
                    });
                    component.on('dragmove', (e) => {
                        shadow.position({
                            x: Math.round(component.x() / cellSize) * cellSize,
                            y: Math.round(component.y() / cellSize) * cellSize
                        });
                        stage.batchDraw();
                    });
                    component.on('dragend', (e) => {
                        const newCol = Math.round(component.x() / cellSize);
                        const newRow = Math.round(component.y() / cellSize);

                        websocket.send(JSON.stringify({
                            "type": component.type,
                            "id": component.id,
                            "function_name": "move",
                            "parameters": [{
                                // Note that rows and columns are reversed on the server side!
                                "row": newCol,
                                "col": newRow
                            }]
                        }));

                        component.position({
                            x: newCol * cellSize,
                            y: newRow * cellSize
                        });

                        stage.batchDraw();
                        shadow.hide();
                    });
                    component.on("contextmenu", (e) => {
                        websocket.send(JSON.stringify({
                            "type": component.type,
                            "id": component.id,
                            "function_name": "remove",
                            "parameters": [{}]
                        }));
                        component.remove();
                    })
                }

                const layer = isCell ? tileLayer : playerLayer;
                layer.add(component);
            };
            const typeToImage = {
                "booster": "{% static 'images/booster.png' %}",
                "car": "{% static 'images/car.png' %}",
                "fuel": "{% static 'images/fuel.png' %}",
                "rock": "{% static 'images/rock.png' %}",
                "straight-0": "{% static 'images/straight-0.png' %}",
                "straight-1": "{% static 'images/straight-1.png' %}",
                "diagonal-0": "{% static 'images/diagonal-0.png' %}",
                "diagonal-1": "{% static 'images/diagonal-1.png' %}",
                "turn90-0": "{% static 'images/turn90-0.png' %}",
                "turn90-1": "{% static 'images/turn90-1.png' %}",
                "turn90-2": "{% static 'images/turn90-2.png' %}",
                "turn90-3": "{% static 'images/turn90-3.png' %}",
            }
            image.src = typeToImage[type];
        }

        for (let row = 0; row < canvas.length; row++) {
            for (let column = 0; column < canvas[row].length; column++) {
                const componentInfo = canvas[row][column];
                if (componentInfo) {
                    const type = componentInfo[0];
                    const component_id = componentInfo[1];
                    addComponent(type, row * cellSize, column * cellSize, component_id);
                }
            }
        }

        const objectTypes = ["booster", "car", "fuel", "rock", "straight-0", "straight-1", "diagonal-0", "diagonal-1", "turn90-0", "turn90-1", "turn90-2", "turn90-3"];
        objectTypes.forEach((objectType) => {
            document
                .getElementById(objectType)
                .addEventListener("dragstart", function (e) {
                    e.dataTransfer.setData("type", objectType);
                });
        });

        // Necessary for the drop event to work
        stage.container().addEventListener("dragover", function (e) {
            e.preventDefault();
        });

        stage.container().addEventListener("drop", function (e) {
            e.preventDefault();
            const type = e.dataTransfer.getData("type");
            stage.setPointersPositions(e);
            const pos = stage.getPointerPosition();
            newComponent(type, pos.x - cellSize / 2, pos.y - cellSize / 2);
        });
    </script>
</body>

</html>